.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}
footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  font-size: small;
  text-align: center;
}
